/**************/
/* variables  */
/**************/

$color-white-1: #ffffff;
$color-white-1-hover-1: #0e0d0d;
$color-white-1-hover-2: #f7f4f2;
$color-white-2: #fdfdfb;
$color-white-3: #f7f5ef;
$color-dark-1: #1b1a17;
$color-dark-2: #262421;
$color-grey-1: #444240;
$color-grey-1-hover: #444240;
$color-grey-2: #555248;
$color-grey-2-hover: #a2a1a0;
$color-grey-3: #5c5c50;
$color-grey-4: #8b8371;
$color-grey-5: #c4c0b6;
$color-creamy-1: #d4b098;
$color-creamy-1-hover: #aa8d7a;
$color-creamy-2: #e6c8b4;
$color-creamy-3: #e2d0c4;
